* {
  padding: 0;
  margin-top: 0;
}

.nav-default {
  display: grid;
  background-color: #f8f8f8;
  border-color: black;
  border-width: 0, 0, 1px;
  border-bottom: 1px solid transparent;
  grid-template-columns: repeat(6, auto);
}
.nav-name-left {
  grid-column: 2/4;
  margin-left: 0;
  margin-right: 0;
}
.nav-links-right {
  grid-column: 5/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media (max-width: 1125px) {
  div.home-description {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1125px) {
  .headshot {
    display: block;
    margin-left: 30%;
    margin-top: 1em;
    /* margin-right:30%; */
  }
  .introlinks {
    margin-right: 30%;
  }
}

.home-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.headshot {
  max-width: 65%;
}

.introlinks {
  display: block;
  width: 100%;
  text-align: center;
}
.introname {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: arial;
}
.introtitle {
  font-size: 20px;
  font-family: arial;
}
.about {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.aboutheader {
  display: grid;
  grid-template-columns: repeat(8, auto);
}
.abouttitle {
  grid-column: 2/6;
}
.abouttext {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}

.inline {
  display: inline-block;
}

.nav-name-left > a {
  text-decoration: none;
  color: #777;
  font-size: 20px;
}

.nav-link > a {
  text-decoration: none;
  color: #777;
  font-size: 20px;
}

.nav-link > a:hover,
.nav-name-left > a:hover {
  color: black;
}

.nav-default,
.accented,
h1,
h2,
h3,
h4,
h5,
h6,
sup {
  font-family: "Avenir Next", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.infobtn {
  font-size: 15px;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #444;
  margin-top: 1cm;
  padding: 12px 28px;
}

.infobtnmarginmid {
  margin-left: 1cm;
  margin-right: 1cm;
}

.infobtn:hover {
  background-color: #777; /* Green */
  color: white;
}

.logo {
  position: relative;
  top: 2px;
  left: 10px;
}
